

body {
    /* buttons */
    --button-radius: var(--radius-s);

    /* callouts */
    --callout-quote: var(--color-gray-rgb);
    --callout-radius: 0;
    --callout-border-width: 1px;
    --callout-border-opacity: 0.25;
    --callout-padding: 0;
    --callout-content-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
    --callout-title-padding: var(--size-4-3);

    /* caret */
    --caret-color: currentColor;

    /* dividers */
    --divider-color: transparent;
    --divider-color-hover: var(--color-base-50);

    /* file */
    --file-header-border: 1px dashed var(--background-secondary);

    /* font */
    --font-interface-theme: "Poppins";
    --font-text-theme: "Noto Serif";

    /* font weight */
    --font-weight: var(--font-light);
    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    /* icons */
    --icon-opacity-inactive: 0.3;

    /* inline title */
    --inline-title-color: var(--text-normal);

    /* inputs */
    --input-radius: var(--radius-s);

    /* modal */
    --modal-radius: var(--radius-s);

    /* radiuses */
    --radius-s: 0;

    /* ribbon */
    --ribbon-background: none;
    --ribbon-background-collapsed: none;

    /* scrollbars */
    --scrollbar-thumb-bg: var(--color-base-20);
    --scrollbar-width: 10px;

    /* tabs */
    --tab-container-background: none;
    --tab-curve: 0;
    --tab-outline-color: var(--color-base-30);
    --tab-outline-width: 0;
    --tab-radius: 0;
    --tab-radius-active: 0;
    --tab-text-color: var(--color-base-40);
    --tab-text-color-active: var(--text-faint);
    --tab-text-color-focused: var(--text-faint);
    --tab-text-color-focused-active: var(--text-muted);
    --tab-text-color-focused-active-current: var(--text-normal);
    --tab-text-color-focused-highlighted: var(--text-accent);

    /* table */
    --table-header-background: transparent;
    --table-line-height: 1.8;
    --table-border-color: var(--color-base-10);
    --table-column-first-border-width: 0;
    --table-column-last-border-width: 0;

    /* titlebar */
    --titlebar-background: none;
    --titlebar-background-focused: none;

    /* vault profile */
    --vault-profile-color: var(--workspace-foreground-faint);
    --vault-profile-color-hover: var(--workspace-foreground-muted);

    /* ----------------- CUSTOM ----------------- */

    /* circle cutouts */
    --cutout-corner-radius: 13px;
    --cutout-corner-angle: 0.25em;
    --cutout-outline-inset: 3px;
    --cutout-outline-thickness: 1px;

    /* file explorer */
    --active-file-bullet-size: 6px;

    /* font */
    --font-typewriter: "TT2020StyleE", "Courier", monospace;

    /* headings */
    --h1-border-color: currentColor;
    --h1-border-color-collapsed: var(--collapse-icon-color-collapsed);

    /* images */
    --image-shadow-offset: var(--size-4-2);
    --image-shadow-stripe-thickness: 2px;
    --image-shadow-stripe-gap: 4px;
    --image-shadow-color: var(--background-primary-alt);

    /* sidedocks */
    --sidedock-tab-header-padding-bottom: 0px;

    /* table */
    --table-header-line-height: 1.8;

    /* Workspace */
    --workspace-foreground: var(--text-normal);
    --workspace-foreground-muted: var(--text-muted);
    --workspace-foreground-faint: var(--text-faint);
    --workspace-background: var(--background-secondary);

    --workleaves-background: var(--background-primary);
    --workleaves-foreground: var(--text-normal);
}