

body {
    --button-radius: var(--radius-s);

    --caret-color: currentColor;

    --divider-color: transparent;
    --divider-color-hover: var(--color-base-50);

    --file-header-border: 1px dashed var(--background-secondary);

    --font-interface-theme: "Poppins";
    --font-text-theme: "Noto Serif";

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;

    --icon-opacity-inactive: 0.3;

    --inline-title-color: var(--text-normal);

    --input-radius: var(--radius-s);

    --modal-radius: var(--radius-s);

    --radius-s: 0;
}

body {
    --fas-float-inline-margin: 8px;
}