/* @settings

name: Fancy-a-Story
id: fancy-a-story
settings:
    - 
        id: colors
        title: Colors
        type: heading
        collapsed: true
        level: 1
    - 
        id: theme-variant-light
        title: Light color scheme
        description: Select from a list of existing themes, or create your own by choosing custom
        type: class-select
        allowEmpty: false
        default: kpr-silver-light
        options:
            - 
                label: Automn
                value: kpr-automn
            - 
                label: Coffee
                value: kpr-coffee-light
            - 
                label: Candy
                value: kpr-candy
            - 
                label: Canyon
                value: kpr-canyon
            - 
                label: Ice
                value: kpr-ice
            - 
                label: Meadow
                value: kpr-meadow
            - 
                label: Silver
                value: kpr-silver-light
            - 
                label: Custom
                value: kpr-custom-light
    - 
        id: theme-variant-dark
        title: Dark color scheme
        description: Select from a list of existing themes, or create your own by choosing custom
        type: class-select
        allowEmpty: false
        default: kpr-silver-dark
        options:
            - 
                label: Artic
                value: kpr-artic
            - 
                label: Atom
                value: kpr-atom
            - 
                label: Chocolate
                value: kpr-chocolate
            - 
                label: Coffee
                value: kpr-coffee-dark
            - 
                label: Forest
                value: kpr-forest
            - 
                label: Mystic
                value: kpr-mystic
            - 
                label: Navy
                value: kpr-navy
            - 
                label: Silver
                value: kpr-silver-dark
            - 
                label: Swamp
                value: kpr-swamp
            - 
                label: Underwater
                value: kpr-unwerwater
            - 
                label: Volcano
                value: kpr-volcano
            - 
                label: Custom
                value: kpr-custom-dark
    - 
        id: kpr-opposite-bg
        title: Opposite background
        description: Enable to use a light (resp. dark) app background in dark (resp. light) mode.
        type: class-toggle
        default: false
    - 
        id: custom-color-base-00
        title: Custom - Primary
        description: Color of the primary background (--color-base-00)
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#ffffff'
        default-dark: '#1e1e1e'
    - 
        id: custom-color-base-100
        title: Custom - Text
        description: Color of the text (--color-base-100)
        type: variable-themed-color
        format: hex
        opacity: false
        default-light: '#222222'
        default-dark: '#dadada'
    -
        id: custom-color-space
        title: Custom - Gradient color space
        description: Color space used in the color-mix() function creating the palette. They all give different effects for the colors between the primary background and the text foreground.
        type: variable-select
        default: srgb-linear
        options:
            - srgb-linear
            - srgb
            - lab
            - hsl
            - hwb

            
    - 
        id: accessibility
        title: Accessibility
        type: heading
        collapsed: true
        level: 1
    - 
        id: kpr-accessibility
        title: Enable Accessibility variant
        description: Use sans serif fonts, increase default font size and weight, remove doodle icons, etc.
        type: class-toggle
        default: false
    - 
        id: kpr-sans-serif
        title: Use sans serif fonts
        type: class-toggle
        default: false
    - 
        id: kpr-bigger-font
        title: Increase default font size and weight
        type: class-toggle
        default: false
    - 
        id: kpr-doodle-icons
        title: Doodle task icons
        description: The set of icons for the tasks lists can be doodle icons to create a more handrwitten effect (very slight). Turning this off will use Lucide icons instead.
        type: class-toggle
        default: true
    - 
        id: kpr-bg-textures
        title: Background textures
        description: Some panes can use background texture for style effect.
        type: class-toggle
        default: true
    
    - 
        id: accessibility-tweaks
        title: Minor tweaks making big differences
        type: heading
        collapsed: true
        level: 2
    - 
        id: sidedock-tab-header-padding-bottom
        title: Gap between the selected tab and the content in the sidebars
        description: If you're annoyed by the fact that they touch each other, increase this value
        type: variable-number-slider
        format: px
        default: 0
        min: 0
        max: 6
    - 
        id: image-shadow-offset
        title: Offset of images stripped shadows
        description: Make it 0 to make the shadow disappear
        type: variable-number
        format: px
        default: 8



    - 
        id: workspace
        title: Workspace
        type: heading
        collapsed: true
        level: 1
    - 
        id: status-bar-position
        title: Status bar position
        type: class-select
        allowEmpty: true
        default: none
        options:
            - 
                label: Top
                value: fas-status-bar-top



    - 
        id: editor
        title: Editor
        type: heading
        collapsed: true
        level: 1
    -
        id: file-line-width
        title: File line width
        type: variable-number
        format: px
        default: 700
    - 
        id: kpr-plain-tables
        title: Use plain table style
        type: class-toggle
        default: false
    - 
        id: header-color
        title: Color for the headings
        type: class-select
        allowEmpty: true
        default: kpr-hue
        options:
            - 
                label: Hue
                value: kpr-headings-hue
            - 
                label: Complementary hue
                value: kpr-headings-complement
            - 
                label: Accent color
                value: kpr-headings-accent
    - 
        id: header-style-h1
        title: Style for the first level heading (h1)
        type: class-select
        allowEmpty: true
        default: kpr-h1-display
        options:
            - 
                label: Display
                value: kpr-h1-display
            - 
                label: Stroke
                value: kpr-h1-stroke



    - 
        id: features
        title: Features
        type: heading
        collapsed: true
        level: 1
    - 
        id: kpr-rainbow-folders
        title: Rainbow folders
        type: class-toggle
        default: true


*/


.themed-color-wrapper > div {
    --background-primary: var(--color-base-00);
}