/* GPLv3 license
FAS - Canvas Node Background
Author: ElsaTam (Kapirklaa in Discord)
*/
.canvas-node:has(.tag[href="#node-background"], .node-background):not(.is-focused) {
  z-index: -1 !important;
}

.canvas-node:not(.is-focused) :is(.tag[href="#node-background"], .node-background) {
  display: none;
}
