body {
    --workspace-foreground: var(--text-normal);
    --workspace-foreground-muted: var(--text-muted);
    --workspace-foreground-faint: var(--text-faint);
    --workspace-background: var(--background-secondary);
}

body.fas-workspace-foreground-contrast {
    --workspace-foreground-muted: var(--text-normal);
    --workspace-foreground-faint: var(--text-muted);
}
