@mixin icon-after {
    content: "";
    display: block;
    background-color: var(--checkbox-color);
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    position: absolute;
    top: -1px;
    inset-inline-start: -1px;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

$supported-icon-labels:
    '>' 'forwarded'  'base-50',
    '<' 'scheduling' 'base-50',
    '?' 'question'   'yellow',
    '!' 'important'  'orange',
    '$' 'dollar'     'green',
    'a' 'anchor'     'blue',
    'b' 'blood'      'red',
    'B' 'Bookmark'   'orange',
    'c' 'cons'       'red',
    'd' 'down'       'red',
    'e' 'error'      'red',
    'f' 'fire'       'red',
    'g' 'goal'       'blue',
    'h' 'health'     'green',
    'H' 'Heart'      'pink',
    'i' 'idea'       'yellow',
    'l' 'link'       'accent',
    'L' 'Location'   'red',
    'm' 'mail'       'blue',
    'M' 'Music'      'green',
    'n' 'note'       'blue',
    'p' 'pros'       'green',
    's' 'star'       'yellow',
    't' 'trash'      'red',
    'T' 'Travel'     'cyan',
    'u' 'up'         'green',
    'U' 'User'       'base-50',
    'w' 'win'        'yellow',
    'W' 'Write'      'cyan',
    'z' 'zap'        'yellow';


$supported-doodle-boxes: (
    ' ' 'box'            'checkbox-border-color' 'checkbox-border-color-hover',
    ''  'box'            'checkbox-border-color' 'checkbox-border-color-hover',
    'x' 'box-checked'    'interactive-accent'    'interactive-accent-hover',
    'X' 'box-checked'    'interactive-accent'    'interactive-accent-hover',
    '-' 'box-failed'     'color-red'             'color-red-hover',
    '/' 'box-incomplete' 'interactive-accent'    'interactive-accent-hover'
);

$supported-normal-boxes: (
    '-' 'icon-failed' 'color-red' 'color-red-hover',
    '/' 'icon-incomplete' 'interactive-accent' 'interactive-accent-hover'
);