@mixin icon-after {
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
}

$alternative-icons:
    '>' 'forwarded'  'base-50',
    '<' 'scheduling' 'base-50',
    '?' 'question'   'yellow',
    '!' 'important'  'orange',
    '$' 'dollar'     'green',
    '*' 'star'       'yellow',
    'a' 'anchor'     'blue',
    'b' 'blood'      'red',
    'B' 'Bookmark'   'orange',
    'c' 'cons'       'red',
    'd' 'down'       'red',
    'e' 'error'      'red',
    'f' 'fire'       'red',
    'g' 'goal'       'blue',
    'h' 'health'     'green',
    'H' 'Heart'      'pink',
    'i' 'idea'       'yellow',
    'l' 'link'       'accent',
    'L' 'Location'   'red',
    'm' 'mail'       'blue',
    'M' 'Music'      'green',
    'n' 'note'       'blue',
    'p' 'pros'       'green',
    't' 'trash'      'red',
    'T' 'Travel'     'cyan',
    'u' 'up'         'green',
    'U' 'User'       'base-50',
    'w' 'win'        'yellow',
    'W' 'Write'      'cyan',
    'z' 'zap'        'yellow';


$default-doodle-boxes: (
    ' ' 'box-doodle'            'color-base-50' 'checkbox-border-color-hover',
    ''  'box-doodle'            'color-base-50' 'checkbox-border-color-hover',
    'x' 'box-doodle-checked'    'interactive-accent'    'interactive-accent-hover',
    'X' 'box-doodle-checked'    'interactive-accent'    'interactive-accent-hover'
);


$alternative-doodle-boxes: (
    '-' 'box-doodle-failed'     'color-red'             'color-red-hover',
    '/' 'box-doodle-incomplete' 'interactive-accent'    'interactive-accent-hover'
);

$alternative-normal-boxes: (
    '-' 'icon-failed' 'color-red' 'color-red-hover',
    '/' 'icon-incomplete' 'interactive-accent' 'interactive-accent-hover'
);


@function getDataList($list) {
    $sel: ":is(";
    @each $label, $icon, $color in $list {
        @if ($sel != ":is(") { $sel: $sel + ", "; }
        $sel: $sel + "[data-task='#{$label}']";
    }
    $sel: $sel + ")";
    @return $sel;
}