@use 'tasks-definition';

// Standard boxes (non doodle)
@each $label, $icon, $color, $color-hover in tasks-definition.$supported-normal-boxes {
    :is(.HyperMD-task-line, .task-list-item)[data-task='#{$label}'] {
        --checkbox-color: var(--#{$color});
        --checkbox-color-hover: var(--#{$color-hover});

        input[type=checkbox]::after {
            @include tasks-definition.icon-after;
            -webkit-mask-image: var(--#{$icon});
        }
    }
}