body {
    --callout-quote: var(--color-gray);
    --callout-radius: 0;
    --callout-border-width: 1px;
    --callout-border-opacity: 0.25;
    --callout-padding: 0;
    --callout-content-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
    --callout-title-padding: var(--size-4-3);
}

.callout {
    position: relative;
}

.callout-title {
    background: linear-gradient(to right, color-mix(in oklch, var(--callout-color) 10%, transparent), transparent);
}

.callout-content {
    border-top: var(--callout-border-width) dashed color-mix(in oklch, var(--callout-color) calc(var(--callout-border-opacity) * 100%), transparent);
}

[data-callout-metadata~="accent"] {
    border-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / var(--callout-border-opacity));
    > .callout-title {
        background: linear-gradient(to right, hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 0.1), transparent);
    }
    > .callout-content {
        border-top: var(--callout-border-width) dashed
            hsl(var(--accent-h) var(--accent-s) var(--accent-l) / var(--callout-border-opacity));
    }
}
