@mixin img {
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 5.7rem;
    aspect-ratio: 1;
    object-fit: cover;
    border: var(--header-left-color) solid 2px;
}

.theme-light .callout[data-callout="data-header"] {
    --darken-lighten-qty-left: 20%;
    --darken-lighten-qty-right: 40%;
}
.theme-dark .callout[data-callout="data-header"] {
    --darken-lighten-qty-left: 50%;
    --darken-lighten-qty-right: 30%;
}

.callout[data-callout="data-header"] {
    // normal variant
    // --header-left-color: rgb(var(--callout-color));
    // --header-right-color: rgba(var(--callout-color), 0.8);

    // saturation variant
    // --header-left-color: hsl(from rgb(var(--callout-color)) h calc(s - 20) l);
    // --header-right-color: hsl(from rgb(var(--callout-color)) h calc(s - 20) l / 0.8);

    // darken/lighten variant
    --header-left-color: color-mix(
        in hsl,
        rgb(var(--callout-color)),
        rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-left)
    );
    --header-right-color: color-mix(
        in hsl,
        rgb(var(--callout-color)),
        rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-right)
    );

    &[data-callout-metadata~="accent"] {
        // normal variant
        // --header-left-color: var(--color-accent);
        // --header-right-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / 0.8);

        // saturation variant
        // --header-left-color: hsl(from var(--color-accent) h calc(s - 20) l);
        // --header-right-color: hsl(from var(--color-accent) h calc(s - 20) l / 0.8);

        // darken/lighten variant
        --header-left-color: color-mix(
            in hsl,
            var(--color-accent),
            rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-left)
        );
        --header-right-color: color-mix(
            in hsl,
            var(--color-accent),
            rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-right)
        );
    }
}

// normal variant
@mixin gradient {
    background: linear-gradient(to right, var(--header-left-color), var(--header-right-color));
}

@mixin tag {
    --tag-background: hsla(var(--interactive-accent-hsl), 0.4);
    /**--tag-color: color-mix(
        in srgb,
        var(--text-accent),
        rgb(var(--mono-rgb-0)) 60%
    );*/ // remove with darken/lighten variant
    --tag-color: color-mix(in srgb, var(--text-accent), rgb(var(--mono-rgb-100)) 60%); // for darken/lighten variant
}

.callout[data-callout="data-header"] {
    overflow: visible;

    > .callout-title {
        display: none;
    }
    > .callout-content {
        border-top: none;
        padding-top: 0;
        overflow: visible;
    }

    .callout[data-callout="header"] {
        --img-size: 150px;
        --callout-blend-mode: normal;
        --image-shadow-offset: 0px;
        --p-spacing: 0;
        @include tag;

        margin-bottom: 0;
        margin-top: calc(0px - var(--callout-border-width));
        margin-left: calc(-24px - var(--callout-border-width));
        margin-right: calc(-12px - var(--callout-border-width));
        overflow: visible;
        //color: var(--color-base-00); // remove with darken/lighten variant

        @include gradient;

        > .callout-title {
            display: none;
        }
        > .callout-content {
            border-top: none;
            padding: 0 0 0 5rem;
            overflow: visible;
        }

        img {
            @include img;
        }

        table {
            margin: 0;
            width: 100%;
        }
        td,
        th {
            border: none;

            //color: var(--color-base-00); // remove with darken/lighten variant
        }
    }
}

.callout[data-callout="data-header"][data-callout-metadata~="pf2"] {
    .callout-title {
        @include tag;
        display: block;
        @include gradient;
        //color: var(--color-base-00); // remove with darken/lighten variant
        color: var(--text-normal); // for darken/lighten variant
        padding-left: 5.1rem;
        anchor-name: --data-header-pf2;
    }

    .image-embed[alt~="icon"] {
        --image-shadow-offset: 0px;
        position: initial;
    }

    img[alt~="icon"] {
        @include img;
        max-width: unset;
        position-anchor: --data-header-pf2;
        top: anchor(center);
    }

    .callout-icon {
        display: none;
    }

    .callout-title-inner {
        --font-weight: var(--font-normal);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-4-4);

        :nth-child(odd) {
            justify-self: start;
            text-align: left;
        }
        :nth-child(even) {
            justify-self: end;
            text-align: right;
        }
    }

    > .callout-content > p:first-child {
        margin-block: 0;

        + p {
            margin-top: 0;
        }
    }
}

.callout[data-callout="data-header"] .callout[data-callout="header"][data-callout-metadata~="accent"] {
    border-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l) / var(--callout-border-opacity));
}
