.callout[data-callout="blank"] {
    --callout-padding: 0;
    --callout-content-padding: 0;
    --callout-border-width: 0;

    margin: 0;

    &, > .callout-content {
        background: none;
    }

    > .callout-title { display: none; }
}