body {
    --callout-fwi-height: 70px;
    --callout-fwi-title-shadow: 0px 0px 0.1em rgb(var(--mono-rgb-0)), 0px 0px 0.2em rgb(var(--mono-rgb-0)), 0px 0px 0.5em rgb(var(--mono-rgb-0));
    --callout-fwi-title-blur: 5px;
}

$aliases: ("full-width-image", "full-w-img", "fwi", "full-width-panoramic-image-:jack_o_lantern:", "fwpi-jol");
$sel: ":is(";
@each $alias in $aliases {
    @if ($sel != ":is(") { $sel: $sel + ", "; }
    $sel: $sel + "[data-callout='#{$alias}']";
}
$sel: $sel + ")";

.callout#{$sel} {
    --callout-padding: 0;
    --callout-content-padding: 0;
    --callout-border-width: 0;
    --callout-blend-mode: normal;

    --image-shadow-offset: 0;
    --p-spacing: 0;

    position: relative;


    .callout-content {
        font-size: 0;
    }

    img {
        height: var(--callout-fwi-height);
        width: 100%;
        object-fit: cover;
    }

    .callout-icon {
        display: none;
    }

    .callout-title {
        background: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: var(--callout-fwi-title-shadow);
        z-index: 1;
    }

    &[data-callout-metadata~="blur"] .callout-content {
        filter: blur(var(--callout-fwi-title-blur));
    }

    &[data-callout-metadata~="grayscale"] img {
        filter: grayscale(1);
    }
}
