@use '../../mixins/poem';

.callout[data-callout="poem"] {
    --callout-icon: lucide-align-center;
    --callout-content-padding: 0;
    --line-height-normal: 1.7;
    line-height: var(--line-height-normal);

    text-align: center;
    border: none;
    background: none;

    @include poem.poem-borders;

    .callout-title {
        justify-content: center;
        background: none;
    }

    .callout-content {
        border: none;
    }

    cite {
        display: block;
        text-align: right;
        margin-top: var(--p-spacing);
        margin-right: 20%;
    }
}

.callout[data-callout="poem"][data-callout-metadata~="frame"] {
    @include poem.poem-frame-properties;
    
    > .callout-title {
        @include poem.poem-frame-top;
    }

    > .callout-content {
        @include poem.poem-frame-bottom;
    }

    @include poem.poem-frame-pseudo;
}

.callout[data-callout="poem"][data-callout-metadata~="floral"] {
    @include poem.poem-floral-properties;
    
    > .callout-title {
        @include poem.poem-floral-top;
    }

    > .callout-content {
        @include poem.poem-floral-bottom;
    }

    @include poem.poem-floral-pseudo;
}