.callout {
    position: relative;
}

.callout-title {
    background: linear-gradient(to right, rgba(var(--callout-color), 0.1), transparent);
}

.callout-content {
    border-top: var(--callout-border-width) dashed rgba(var(--callout-color), var(--callout-border-opacity));
}