.callout[data-callout="grid"] {
    --callout-color: 181, 118, 83;
    --callout-icon: lucide-layout-grid;
    --callout-title-size: 1.5em;
    --callout-border-width: 1px;
    --line-height-tight: 1;
    background: none;

    > .callout-content {
        display: grid;
        gap: 10px;
    }

    > .callout-content > * {
        border: var(--callout-border-width) solid rgba(var(--callout-color), var(--callout-border-opacity));
        background-color: rgba(var(--callout-color), 0.1);
        margin: 0;
    }

    &[data-callout-metadata~="col-2"] > .callout-content {
        grid-template-columns: repeat(2, 1fr);
    }

    &[data-callout-metadata~="col-3"] > .callout-content {
        grid-template-columns: repeat(3, 1fr);
    }

    &[data-callout-metadata~="col-4"] > .callout-content {
        grid-template-columns: repeat(4, 1fr);
    }

    &[data-callout-metadata~="col-5"] > .callout-content {
        grid-template-columns: repeat(5, 1fr);
    }

    &[data-callout-metadata~="col-6"] > .callout-content {
        grid-template-columns: repeat(6, 1fr);
    }
}