
.callout[data-callout-metadata~="grey"]   { --callout-default: var(--color-grey-rgb); }
.callout[data-callout-metadata~="brown"]  { --callout-default: var(--color-brown-rgb); }
.callout[data-callout-metadata~="red"]    { --callout-default: var(--color-red-rgb); }
.callout[data-callout-metadata~="orange"] { --callout-default: var(--color-orange-rgb); }
.callout[data-callout-metadata~="yellow"] { --callout-default: var(--color-yellow-rgb); }
.callout[data-callout-metadata~="green"]  { --callout-default: var(--color-green-rgb); }
.callout[data-callout-metadata~="cyan"]   { --callout-default: var(--color-cyan-rgb); }
.callout[data-callout-metadata~="blue"]   { --callout-default: var(--color-blue-rgb); }
.callout[data-callout-metadata~="purple"] { --callout-default: var(--color-purple-rgb); }
.callout[data-callout-metadata~="pink"]   { --callout-default: var(--color-pink-rgb); }

.callout[data-callout-metadata~="transparent"] {
    &, > .callout-content, > .callout-title {
        background: none;
    }
}