.callout[data-callout="table-cards"] {
    --table-background: rgba(var(--mono-rgb-0), 0.2);
    --table-row-alt-background: rgba(var(--mono-rgb-0), 0.2);

    padding: 0;
    background: none;
    border: none;

    .callout-title {
        display: none;
    }

    .callout-content {
        border: none;
        padding: 0;
    }

    table {
        width: 100%;
    }

    thead {
        display: none;
    }

    tbody {
        display: grid;
        gap: 0.6em;
        grid-template-columns: repeat(auto-fill, 14em);
        justify-content: center;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin-block: 0;
        border: var(--callout-border-width) solid rgba(var(--callout-color), var(--callout-border-opacity));
    }

    td {
        text-align: center;
        border: 0;
    }

    td:first-child {
        --link-decoration: none;
        border-bottom: var(--callout-border-width) solid rgba(var(--callout-color), var(--callout-border-opacity));
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td:nth-child(n+2) {
        background-color: rgba(var(--mono-rgb-0), 0.2);
    }

    td:last-child {
        flex-grow: 1;
    }
}