.callout[data-callout-metadata~="blank"],
.callout[data-callout="blank"] {
    margin: 0;
    padding: 0;
    mix-blend-mode: normal;
    border: none;
    background: none;
    border-radius: 0;

    > .callout-content {
        padding: 0;
        background: none;
        border: none;
    }

    > .callout-title {
        display: none;
    }
}
