/* GPLv3 license
FAS - Movie Script
Author: ElsaTam (Kapirklaa in Discord)
*/
.markdown-source-view.movie-script,
.markdown-preview-view.movie-script {
  --font-weight: var(--font-normal);
  --h1-size: 1em;
  --h2-size: 1em;
  --h3-size: 1em;
  --h4-size: 1em;
  --h5-size: 1em;
  --h6-size: 1em;
  --h1-weight: var(--font-weight);
  --h2-weight: var(--font-weight);
  --h3-weight: var(--font-weight);
  --h4-weight: var(--font-weight);
  --h5-weight: var(--font-weight);
  --h6-weight: var(--font-weight);
  --font-text: "Courier New", Courier, monospace;
}
.markdown-source-view.movie-script .HyperMD-header-1,
.markdown-source-view.movie-script h1,
.markdown-preview-view.movie-script .HyperMD-header-1,
.markdown-preview-view.movie-script h1 {
  text-transform: uppercase;
}
.markdown-source-view.movie-script .callout,
.markdown-preview-view.movie-script .callout {
  --callout-padding: 0;
  --callout-title-padding: 0;
  --callout-content-padding: 0;
  --callout-border-width: 0;
  --p-spacing: 0;
  background: none;
}
.markdown-source-view.movie-script .callout .callout-title,
.markdown-preview-view.movie-script .callout .callout-title {
  background: none;
  color: var(--text-normal);
}
.markdown-source-view.movie-script .callout[data-callout=transition] .callout-icon,
.markdown-preview-view.movie-script .callout[data-callout=transition] .callout-icon {
  display: none;
}
.markdown-source-view.movie-script .callout[data-callout=transition] > .callout-title,
.markdown-preview-view.movie-script .callout[data-callout=transition] > .callout-title {
  justify-content: flex-end;
  text-transform: uppercase;
}
.markdown-source-view.movie-script .callout[data-callout=transition] .callout-title-inner::after,
.markdown-preview-view.movie-script .callout[data-callout=transition] .callout-title-inner::after {
  content: ":";
}
.markdown-source-view.movie-script .callout[data-callout=character],
.markdown-preview-view.movie-script .callout[data-callout=character] {
  max-width: 300px;
  margin-inline: auto;
}
.markdown-source-view.movie-script .callout[data-callout=character] .callout-icon,
.markdown-preview-view.movie-script .callout[data-callout=character] .callout-icon {
  display: none;
}
.markdown-source-view.movie-script .callout[data-callout=character] > .callout-title,
.markdown-preview-view.movie-script .callout[data-callout=character] > .callout-title {
  padding-left: 40%;
  text-transform: uppercase;
}
.markdown-source-view.movie-script .callout[data-callout=character] .callout,
.markdown-preview-view.movie-script .callout[data-callout=character] .callout {
  margin: 0;
}
.markdown-source-view.movie-script .callout[data-callout=parenthetical] > .callout-title,
.markdown-preview-view.movie-script .callout[data-callout=parenthetical] > .callout-title {
  justify-content: center;
}

.markdown-preview-view.movie-script h1 {
  margin-block-start: var(--heading-spacing);
}

@media print {
  .movie-script .callout[data-callout=transition] {
    break-before: avoid;
  }
}
