@forward "../shared/cutout-circles";
@forward "../shared/cutouts";
@forward "../shared/workleaves";

//@use "floating-mode-button";

.is-mobile {
    --font-ui-smaller: 13.5px;
    --font-ui-small: 14px;
    --font-ui-medium: 15px;
    --font-ui-large: 20px;
    --icon-l-stroke-width: 1.2px;
    --icon-s: 16px;
    --icon-m: 18px;
    --icon-l: 20px;
    --link-decoration-thickness: 1px;
}

.workspace-drawer-active-tab-header {
    border-radius: var(--radius-s);
}

.is-mobile .mod-root .view-header {
    padding-inline: var(--size-4-3);
}

@scope (.is-mobile :is(.markdown-source-view, .markdown-preview-view) .markdown-embed[alt~="faded"]) to (.markdown-embed) {
    .markdown-embed-link {
        right: calc(-1 * var(--size-4-6));
    }
}
