@forward '../shared/cutout-circles';
@forward '../shared/cutouts';
@forward '../shared/workleaves';

.is-mobile {
    --link-decoration-thickness: 1px;
}

// Circle cutouts
.workspace-drawer:is(.mod-left, .mod-right) {
    padding-inline: var(--cutout-outline-inset);
    mask-composite: intersect;
}
.workspace-drawer.mod-left {
    mask-image: radial-gradient(var(--cutout-corner-radius) at 100% 0, transparent 100%, black),
          radial-gradient(var(--cutout-corner-radius) at 100% 100%, transparent 100%, black);
}
.workspace-drawer.mod-right {
    mask-image: radial-gradient(var(--cutout-corner-radius) at 0 0, transparent 100%, black),
          radial-gradient(var(--cutout-corner-radius) at 0 100%, transparent 100%, black);
}

.workspace-drawer::before {
    content: "";
    position: absolute;
    inset: var(--cutout-outline-inset);
    background: var(--background-secondary);
    mask: radial-gradient(
        var(--cutout-corner-radius) at var(--cutout-corner-radius) var(--cutout-corner-radius),
        transparent calc(100% - 1px),
        black calc(100% - 1px) 100%,
        transparent) calc(-1 * var(--cutout-corner-radius)) calc(-1 * var(--cutout-corner-radius)),
    linear-gradient(90deg, black 2px, transparent 0) -1px 50% / 100% calc(100% - var(--cutout-corner-radius) * 2 + 1px) repeat-x,
    linear-gradient(       black 2px, transparent 0) 50% -1px / calc(100% - var(--cutout-corner-radius) * 2 + 1px) 100% repeat-y;
}

// Background color
.workspace-drawer {
    --mobile-sidebar-background: var(--workleaves-background);
}

.workspace-drawer-inner,
.theme-dark .workspace-drawer-inner,
.workspace-drawer-active-tab-container {
    background-color: transparent;
}

@scope (.is-mobile :is(.markdown-source-view, .markdown-preview-view) .markdown-embed[alt~="faded"]) to (.markdown-embed) {
    .markdown-embed-link {
        right: calc(-1 * var(--size-4-6));
    }
}


// Icons
.is-mobile{
    --icon-l-stroke-width: 1.2px;
}