/* GPLv3 license
FAS - Callout Film strip
Author: ElsaTam (Kapirklaa in Discord)
*/

@use '../../../editor/callouts/callout-film-strip';

/* Fix for Minimal theme and img-grid cssclass */
.callout[data-callout=film-strip] .callout-content > p:has(>.image-embed) {
    display: flex;
    gap: 0;
}