/* GPLv3 license
FAS - Callout Autopsy
Author: ElsaTam (Kapirklaa in Discord)
*/

@use '../../../editor/callouts/callout-autopsy';


/* Fixes for themes */

/* ITS (change round for square checkboxes) *//*
.callout[data-callout="autopsy"] .callout[data-callout="body"] {
    --checkbox-radius: var(--radius-m);
}/**/

/* Primary *//*
.callout[data-callout="autopsy"] .callout {
    padding: var(--callout-padding);
}
.callout[data-callout="autopsy"] .callout,
.callout[data-callout="autopsy"] .callout :is(.callout-title, .callout-content) {
    box-shadow: none;
}/**/

/* Prism *//*
.callout[data-callout="autopsy"] .callout[data-callout-metadata~="inline"] .callout-title {
    margin: 0;
}
.callout[data-callout="autopsy"] .callout[data-callout-metadata~="inline"] .callout-content {
    border-top: 1px solid;
    border-left: 0;
    border-top-right-radius: var(--radius-m);
    border-bottom-left-radius: 0;
    margin-top: 0;
    padding-left: 10px;
}
.callout[data-callout="autopsy"] .callout[data-callout="body"] .callout-content {
    padding-top: 16px;
}/**/

/* WY Console *//*
.callout[data-callout="autopsy"] {
    --col-pr-bckg-checkbox-empty: var(--checkbox-color-unchecked);
    --col-pr-txt-checkbox-full: var(--checklist-done-color);
}/**/