/* GPLv3 license
FAS - Blockquote Caption
Author: ElsaTam (Kapirklaa in Discord)
*/

@use '../../../editor/blockquotes/blockquote-caption';


/* Compatibility with ITS theme */
@scope (blockquote:has(.caption)) {
    :scope .internal-embed.image-embed.image-embed img {
        padding: 0;
    }
}

.callout.callout[data-callout=grid] .callout-content > blockquote > p {
    display: block;
}