.site-body-left-column {
    background-color: var(--workspace-background);
    padding-right: 10px;
}

// Add the cutout effect to the sidebar but only on bottom corners
.nav-view-outer {
    position: relative;
    scrollbar-gutter: auto;
    flex-grow: 1;
    background-color: var(--workleaves-background);
    -webkit-mask: radial-gradient(
        var(--cutout-corner-radius) at var(--cutout-corner-radius) 100%,
        transparent 100%,
        black
    );
    -webkit-mask-position: calc(-1 * var(--cutout-corner-radius)) calc(-1 * var(--cutout-corner-radius));
    -webkit-mask-repeat: repeat-x;
}

.nav-view {
    padding: var(--cutout-corner-radius);
}

.nav-view-outer::before {
    content: "";
    position: absolute;
    inset: var(--cutout-outline-inset);
    top: 0px;
    background: var(--sidedock-inset-border-color);
    -webkit-mask:
        radial-gradient(
                var(--cutout-corner-radius) at var(--cutout-corner-radius) 100%,
                transparent calc(100% - 1px),
                black calc(100% - 1px) 100%,
                transparent
            )
            calc(-1 * var(--cutout-corner-radius)) calc(-1 * var(--cutout-corner-radius)) / auto repeat-x,
        linear-gradient(90deg, black 2px, transparent 0) -1px 0px / 100% calc(100% - var(--cutout-corner-radius) * 2)
            repeat-x,
        linear-gradient(black 2px, transparent 0) 50% calc(100% - var(--cutout-corner-radius)) /
            calc(100% - var(--cutout-corner-radius) * 2 + 1px) 1px no-repeat;
    pointer-events: none;
}

// Add the cutout effect to the search bar but only on top corners
.search-view-outer {
    position: relative;
    padding: calc(12px + var(--size-4-2));
    padding-top: 0;
    margin-bottom: -13px;
    background-color: var(--workleaves-background);
    -webkit-mask-image: radial-gradient(
        var(--cutout-corner-radius) at var(--cutout-corner-radius) var(--cutout-corner-radius),
        transparent 100%,
        black
    );
    -webkit-mask-position: calc(-1 * var(--cutout-corner-radius)) calc(-1 * var(--cutout-corner-radius));
    -webkit-mask-repeat: repeat-x;
}

.search-view-outer::before {
    content: "";
    position: absolute;
    inset: var(--cutout-outline-inset);
    bottom: 0;
    background: var(--sidedock-inset-border-color);
    -webkit-mask:
        radial-gradient(
                var(--cutout-corner-radius) at var(--cutout-corner-radius) var(--cutout-corner-radius),
                transparent calc(100% - 1px),
                black calc(100% - 1px) 100%,
                transparent
            )
            calc(-1 * var(--cutout-corner-radius)) calc(-1 * var(--cutout-corner-radius)) / auto repeat-x,
        linear-gradient(90deg, black 2px, transparent 0) -1px 50% / 100%
            calc(100% - var(--cutout-corner-radius) * 2 + 1px) repeat-x,
        linear-gradient(black 2px, transparent 0) 50% -1px / calc(100% - var(--cutout-corner-radius) * 2 + 1px) 100%
            no-repeat;
    pointer-events: none;
}

// =========================== BOOKMARK TABS ===========================

body {
    --fas-bookmark-tabs: flat; /* disable, flat, or volume */
}

@container not style(--fas-bookmark-tabs: disable) {
    .search-view-container {
        --background-modifier-form-field: var(--color-accent);
        --text-normal: var(--text-on-accent);
    }
    .search-bar {
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 12px 100%, 0 calc(100% - 12px));
    }
    .search-bar[type="text"]::placeholder {
        color: var(--text-faint);
    }
    .published-search-icon {
        z-index: 2;
    }
}

@container style(--fas-bookmark-tabs: volume) {
    .search-bar[type="text"] {
        background-image: linear-gradient(
            to bottom,
            rgb(255 255 255 / 0.08) 2px,
            rgb(255 255 255 / 0.03) 8px,
            transparent 20px
        );
    }
}
