/* GPLv3 license
FAS - Callout Page Break
Author: ElsaTam (Kapirklaa in Discord)
*/
body {
  --page-break-height-thin: 1.5em;
  --page-break-height-default: 3em;
  --page-break-height-large: 5em;
  --page-break-height-xlarge: 7em;
}

.callout[data-callout=page-break][data-callout-metadata~=thin] {
  --page-break-height: var(--page-break-height-thin);
}

.callout[data-callout=page-break][data-callout-metadata~=large] {
  --page-break-height: var(--page-break-height-large);
}

.callout[data-callout=page-break][data-callout-metadata~=x-large] {
  --page-break-height: var(--page-break-height-xlarge);
}

.callout[data-callout=page-break] {
  --page-break-height: var(--page-break-height-default);
  --callout-blend-mode: normal;
  --callout-padding: 0;
  --callout-title-padding: 0;
  --callout-content-padding: 0;
  position: relative;
  --w: calc(1 * (100cqw + 2 * var(--file-margins-inline)));
  width: var(--w);
  left: calc(50% - var(--w) * 0.5);
  background-color: var(--workspace-background, var(--background-secondary));
  min-height: var(--page-break-height);
  border-block: 1px rgb(var(--mono-rgb-0)) solid;
  border-inline: none;
  display: flex;
}
.callout[data-callout=page-break] .callout-title {
  background: none;
  border: none;
  align-items: center;
}
.callout[data-callout=page-break] .callout-content {
  border: none;
}
.callout[data-callout=page-break] .callout-icon,
.callout[data-callout=page-break] .callout-title-inner {
  display: none;
}

@media print {
  .print .callout[data-callout=page-break] {
    max-height: 0 !important;
    visibility: hidden;
    break-after: page;
  }
}
