/* GPLv3 license
FAS - Callout Data Header
Author: ElsaTam (Kapirklaa in Discord)
*/
.theme-light .callout[data-callout=data-header] {
  --darken-lighten-qty-left: 20%;
  --darken-lighten-qty-right: 40%;
}

.theme-dark .callout[data-callout=data-header] {
  --darken-lighten-qty-left: 50%;
  --darken-lighten-qty-right: 30%;
}

.callout[data-callout=data-header] {
  --header-left-color: color-mix(
      in hsl,
      rgb(var(--callout-color)),
      rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-left)
  );
  --header-right-color: color-mix(
      in hsl,
      rgb(var(--callout-color)),
      rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-right)
  );
}
.callout[data-callout=data-header][data-callout-metadata~=accent] {
  --header-left-color: color-mix(
      in hsl,
      var(--color-accent),
      rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-left)
  );
  --header-right-color: color-mix(
      in hsl,
      var(--color-accent),
      rgb(var(--mono-rgb-0)) var(--darken-lighten-qty-right)
  );
}

.callout[data-callout=data-header] {
  overflow: visible;
}
.callout[data-callout=data-header] > .callout-title {
  display: none;
}
.callout[data-callout=data-header] > .callout-content {
  border-top: none;
  padding-top: 0;
  overflow: visible;
}
.callout[data-callout=data-header] .callout[data-callout=header] {
  --img-size: 150px;
  --callout-blend-mode: normal;
  --image-shadow-offset: 0px;
  --p-spacing: 0;
  --table-header-background: transparent;
  --table-row-alt-background: transparent;
  --table-row-alt-background-hover: transparent;
  --tag-background: hsla(var(--interactive-accent-hsl), 0.4);
  /**--tag-color: color-mix(
      in srgb,
      var(--text-accent),
      rgb(var(--mono-rgb-0)) 60%
  );*/
  --tag-color: color-mix(in srgb, var(--text-accent), rgb(var(--mono-rgb-100)) 60%);
  margin-bottom: 0;
  margin-top: calc(0px - var(--callout-border-width));
  margin-left: calc(-24px - var(--callout-border-width));
  margin-right: calc(-12px - var(--callout-border-width));
  overflow: visible;
  background: linear-gradient(to right, var(--header-left-color), var(--header-right-color));
}
.callout[data-callout=data-header] .callout[data-callout=header] > .callout-title {
  display: none;
}
.callout[data-callout=data-header] .callout[data-callout=header] > .callout-content {
  border-top: none;
  padding: 0 0 0 5rem;
  overflow: visible;
}
.callout[data-callout=data-header] .callout[data-callout=header] img {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 5.7rem;
  aspect-ratio: 1;
  object-fit: cover;
}
.callout[data-callout=data-header] .callout[data-callout=header]:not([data-callout-metadata~=no-border]) img {
  border: var(--header-left-color) solid 2px;
}
.callout[data-callout=data-header] .callout[data-callout=header] table {
  margin: 0;
  width: 100%;
}
.callout[data-callout=data-header] .callout[data-callout=header] td,
.callout[data-callout=data-header] .callout[data-callout=header] th {
  border: none;
}

.callout[data-callout=data-header][data-callout-metadata~=pf2] .callout-title {
  --tag-background: hsla(var(--interactive-accent-hsl), 0.4);
  /**--tag-color: color-mix(
      in srgb,
      var(--text-accent),
      rgb(var(--mono-rgb-0)) 60%
  );*/
  --tag-color: color-mix(in srgb, var(--text-accent), rgb(var(--mono-rgb-100)) 60%);
  display: block;
  background: linear-gradient(to right, var(--header-left-color), var(--header-right-color));
  color: var(--text-normal);
  padding-left: 5.1rem;
  anchor-name: --data-header-pf2;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] .image-embed[alt~=icon] {
  --image-shadow-offset: 0px;
  position: initial;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] img[alt~=icon] {
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 5.7rem;
  aspect-ratio: 1;
  object-fit: cover;
  max-width: unset;
  position-anchor: --data-header-pf2;
  top: anchor(center);
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] img[alt~=icon]:not([alt~=no-border]) {
  border: var(--header-left-color) solid 2px;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] .callout-icon {
  display: none;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] .callout-title-inner {
  --font-weight: var(--font-normal);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-4-4);
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] .callout-title-inner :nth-child(odd) {
  justify-self: start;
  text-align: left;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] .callout-title-inner :nth-child(even) {
  justify-self: end;
  text-align: right;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] > .callout-content > p:first-child {
  margin-block: 0;
}
.callout[data-callout=data-header][data-callout-metadata~=pf2] > .callout-content > p:first-child + p {
  margin-top: 0;
}

.callout[data-callout=data-header] .callout[data-callout=header][data-callout-metadata~=accent] {
  border-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l), var(--callout-border-opacity));
}

.callout[data-callout=data-header][data-callout-metadata~=pf2] > .callout-content {
  position: initial;
}

/* Fixes for themes */
/* ITS */ /*
.callout[data-callout=data-header] .callout[data-callout=header] {
    --table-header-background: transparent;
    --table-column-alt-background: transparent;
    --table-row-background: transparent;
    --table-row-alt-background: transparent;

    margin-inline: -16px;
    margin-top: -12px;
}

.callout[data-callout=data-header][data-callout-metadata~=pf2] {
    --callout-title-padding: 12px 16px;
    --callout-content-padding: 12px 16px;
    padding: 0;

    > .callout-content {
        padding: var(--callout-content-padding);
    }
}/**/
