body {
  --table-header-background: transparent;
  --table-line-height: 1.8;
  --table-border-color: var(--color-base-10);
  --table-column-first-border-width: 0;
  --table-column-last-border-width: 0;
  --table-header-line-height: 1.8;
  --table-margin-inline: auto;
}

.markdown-preview-view table thead th {
  border-bottom-width: calc(var(--table-border-width) + 2px);
}
.markdown-preview-view table :is(td, th):empty {
  height: calc(var(--table-text-size) * var(--table-line-height) + var(--size-2-2) * 2);
}
.markdown-preview-view table {
  margin-inline: var(--table-margin-inline);
}

.cm-html-embed th,
.markdown-rendered th {
  line-height: var(--table-header-line-height);
}

:is(.cm-html-embed, .markdown-rendered) :is(th, td) {
  border-inline-width: 0;
}
