body {
    --nav-item-padding-block: 4px;
    --nav-item-parent-padding-block: 4px;
    --nav-item-children-margin-start: 12px;
}

.theme-light {
    --nav-item-color: var(--color-base-80);
}

.nav-file-title {
    padding-block: var(--nav-item-padding-block);
}
.tree-item-self.mod-collapsible {
    padding-block: var(--nav-item-parent-padding-block);
}

.tree-item-self .tree-item-icon {
    margin-inline-start: min(
        calc(-1 * var(--size-4-5)),
        calc(-1 * var(--size-4-5) + var(--nav-item-children-margin-start) - 12px)
    );
}
