/* ----------- Coffee stain ----------- */

.kpr-bg-textures .workspace-leaf-content[data-type="file-explorer"]::before {
    content: "";
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-image: var(--coffee-stain);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: calc(100% - 30px) calc(100% - 30px);
    background-blend-mode: normal;
    opacity: 0.1;
    filter: sepia(1);
    z-index: -1;
}

.is-mobile.kpr-bg-textures .workspace-leaf-content[data-type="file-explorer"]::before {
    bottom: calc(max(var(--size-4-2), var(--safe-area-inset-bottom)) + var(--icon-size) + var(--size-2-2) + var(--size-2-3));
}


/* ----------- Paper texture ----------- */
.kpr-bg-textures.theme-dark .mod-sidedock .workspace-leaf {
    background-image: var(--black-paper);
    background-size: 500px;
    background-blend-mode: luminosity;
}
.kpr-bg-textures.theme-light .mod-sidedock .workspace-leaf {
    background-image: var(--white-paper);
    background-size: 500px;
    background-blend-mode: luminosity;
}
