.kpr-opposite-bg,
.kpr-opposite-bg .workspace {
    background-color: var(--color-base-100);
}

.kpr-opposite-bg {
    --titlebar-text-color: var(--background-secondary);
    --titlebar-text-color-focused: var(--background-primary);
    --vault-profile-color: var(--background-secondary);
}

.kpr-opposite-bg .titlebar {
    --background-modifier-hover: rgba(var(--mono-rgb-0), 0.075);
}

.kpr-opposite-bg .workspace-ribbon,
.kpr-opposite-bg .workspace-tab-header-container,
.kpr-opposite-bg .workspace-sidedock-vault-profile {
    --icon-color: var(--background-secondary);
    --icon-color-hover: var(--background-secondary);
    --icon-color-focused: var(--background-primary);
    --icon-opacity: 0.4;
    --background-modifier-hover: rgba(var(--mono-rgb-0), 0.075);
}

.kpr-opposite-bg .workspace-tab-header.is-active {
    --icon-color-focused: var(--text-normal);
}

.kpr-opposite-bg:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher-icon {
    color: var(--background-secondary);
}
@media (hover: hover) {
    .kpr-opposite-bg:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher:hover .workspace-drawer-vault-switcher-icon {
        color: var(--background-primary);
    }   
}