body {
    --ribbon-background: none;
    --ribbon-background-collapsed: none;
}

.workspace-ribbon {
    --icon-color: var(--workspace-foreground-muted);
    --icon-color-hover: var(--workspace-foreground);
    --icon-opacity: var(--icon-opacity-inactive);
    --icon-opacity-hover: 1;
}

.workspace-ribbon:hover {
    --icon-opacity: var(--icon-opacity-hover);
}