.fas-tab-header-inverted .mod-root .workspace-tab-header-container {
    --tab-container-background: var(--workspace-background);
}
.fas-tab-header-inverted .workspace .mod-root .workspace-tab-header {
    padding-bottom: 0;
}
@scope (.fas-tab-header-inverted .mod-root .workspace-tabs:not(.mod-stacked)) {
    .is-active .workspace-tab-header-inner {
        background-color: var(--workleaves-background);
        clip-path: polygon(0 8px, 8px 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%);
    }

    // Remove cutout corner for first and last tabs
    .is-active:first-child .workspace-tab-header-inner {
        clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%);
    }
    .is-active:last-child .workspace-tab-header-inner {
        clip-path: polygon(0 8px, 8px 0, 100% 0, 100% 100%, 0 100%);
    }

    // Using `:has()` to remove the divider before the active tab is too heavy when the windows need to be repainted
    // So instead, we hide it with another pseuod-element
    .workspace-tab-header + .workspace-tab-header.is-active::before {
        background-color: color-mix(in srgb, var(--workspace-background, var(--background-secondary)), black 10%);
        top: 7px;
    }
}
.fas-tab-header-inverted.mod-windows.is-hidden-frameless:not(.is-fullscreen)
    .workspace:not(.is-right-sidedock-open)
    > .mod-root::before {
    background-color: var(--workspace-background);
}
