.fas-tab-header-inverted {
    --titlebar-text-color-focused: var(--color-base-50);
}
.fas-tab-header-inverted .mod-root .workspace-tab-header-container {
    --tab-container-background: var(--workspace-background);
    --tab-text-color-focused-active-current: var(--text-normal);
}
.fas-tab-header-inverted .workspace .mod-root .workspace-tab-header {
    padding-bottom: 0;
}
.fas-tab-header-inverted.is-hidden-frameless:not(.is-fullscreen)
    .mod-root
    .workspace-tab-header:not(.is-active)
    .workspace-tab-header-inner,
.fas-tab-header-inverted:not(.is-frameless)
    .mod-root
    .workspace-tab-header:not(.is-active)
    .workspace-tab-header-inner {
    padding-top: 0;
}
@scope (.fas-tab-header-inverted .mod-root .workspace-tabs:not(.mod-stacked)) {
    .is-active .workspace-tab-header-inner {
        background-color: var(--workleaves-background);
    }
    @supports (corner-shape: bevel) {
        .workspace-tab-header .workspace-tab-header-inner {
            corner-shape: bevel bevel square square;
            border-radius: 8px;
        }
        .workspace-tab-header:first-child .workspace-tab-header-inner {
            corner-top-left-shape: square;
        }
        .workspace-tab-header:last-child .workspace-tab-header-inner {
            corner-top-right-shape: square;
        }
    }
    @supports not (corner-shape: bevel) {
        .workspace-tab-header .workspace-tab-header-inner {
            clip-path: polygon(0 8px, 8px 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%);
        }

        // Remove cutout corner for first and last tabs
        .workspace-tab-header:first-child .workspace-tab-header-inner {
            clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%);
        }
        .workspace-tab-header:last-child .workspace-tab-header-inner {
            clip-path: polygon(0 8px, 8px 0, 100% 0, 100% 100%, 0 100%);
        }
    }

    // Using `:has()` to remove the divider before the active tab is too heavy when the windows need to be repainted
    // So instead, we hide it with another pseuod-element
    .workspace-tab-header + .workspace-tab-header.is-active::before {
        background-color: color-mix(in srgb, var(--workspace-background, var(--background-secondary)), black 10%);
        top: 7px;
    }
}
.fas-tab-header-inverted.mod-windows.is-hidden-frameless:not(.is-fullscreen)
    .workspace:not(.is-right-sidedock-open)
    > .mod-root::before {
    background-color: var(--workspace-background);
}
.fas-tab-header-inverted.is-frameless.is-hidden-frameless .titlebar {
    height: calc(var(--header-height) + var(--workspace-top-margin));
}
