/* default icon opacity */
.workspace-tab-header-container {
    --icon-opacity: var(--icon-opacity-inactive);
    --icon-opacity-hover: 1;
}

/* Full opacity when the header container is hovered */
.workspace-tab-header-container:hover,
.workspace-tab-header-container:has(*:hover) {
    --icon-opacity: var(--icon-opacity-hover);
}


/* ---------- SIDEDOCK ---------- */

/* Remove gap between header and content */
.mod-sidedock .workspace-tab-header-container-inner {
    padding-bottom: var(--sidedock-tab-header-padding-bottom);
}

/* Ensure gap between header and top border windows */
.is-hidden-frameless .mod-sidedock.mod-top .workspace-tab-header-container-inner {
    margin-top: 6px;
}

/* Ensure sufficient padding for cropped circle corners */
.is-hidden-frameless:not(.is-fullscreen) .mod-sidedock .workspace-tabs.mod-top-left-space .workspace-tab-header-container {
    padding-left: calc(var(--cutout-corner-radius) + var(--size-4-2) + var(--frame-left-space));
}
.mod-sidedock .workspace-tab-header-container {
    padding-left: calc(var(--cutout-corner-radius) + var(--size-4-2));
    padding-right: calc(var(--cutout-corner-radius) + var(--size-4-2));
}

/* Match the background for the active tab header */
.mod-sidedock .workspace-tab-header.is-active,
.mod-sidedock .workspace-tab-header.is-active:hover {
    background-color: var(--workleaves-background);
}

/* ---------- FILE TABS ---------- */

.mod-root .workspace-tab-header-container {
    --tab-container-background: var(--workleaves-background);
    --tab-text-color-active: var(--workspace-foreground-faint);
    --tab-text-color-focused: var(--workspace-foreground-faint);
    --tab-text-color-focused-active: var(--workspace-foreground-muted);
    --tab-text-color-focused-active-current: var(--workspace-foreground);
}


.mod-root .workspace-tab-header-container-inner,
.workspace .mod-root .workspace-tab-header {
    padding-top: 0;
}

body.is-hidden-frameless:not(.is-fullscreen) .mod-root .workspace-tab-header-container,
body:not(.is-frameless) .mod-root .workspace-tab-header-container {
    border-top: 6px solid var(--workspace-background);
    box-sizing: content-box;
}
body.is-hidden-frameless:not(.is-fullscreen) .mod-root .workspace-tab-header:not(.is-active) .workspace-tab-header-inner,
body:not(.is-frameless) .mod-root .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
    padding-top: 6px;
}

/* Style active tab in non-stack mode */

@scope (.mod-root .workspace-tabs:not(.mod-stacked)) {

    .workspace-tab-header.is-active {
        background: none;
        filter: drop-shadow(4px 2px 2px rgba(0, 0, 0, 0.2)) drop-shadow(-4px 2px 2px rgba(0, 0, 0, 0.2));
    }

    .is-active .workspace-tab-header-inner {
        background-color: var(--workspace-background);
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 8px),
            calc(100% - 8px) 100%,
            8px 100%,
            0 calc(100% - 8px)
        );
    }

    /* Remove cutout corner for first and last tabs */
    .is-active:first-child .workspace-tab-header-inner {
        clip-path: polygon(
            0 0,
            100% 0,
            100% calc(100% - 8px),
            calc(100% - 8px) 100%,
            0 100%
        );
    }
    .is-active:last-child .workspace-tab-header-inner {
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            8px 100%,
            0 calc(100% - 8px)
        );
    }
    .is-active:first-child:last-child .workspace-tab-header-inner {
        clip-path: none;
    }

    /* Remove separator before and after active file */
    .workspace-tab-header:has(+ .is-active) .workspace-tab-header-inner::after,
    .is-active + .workspace-tab-header .workspace-tab-header-inner::before {
        content: none;
    }
}

/* ---------- FILE TABS - STACK MODE ---------- */

.theme-dark .workspace-tabs.mod-stacked {
    --tab-stacked-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    --tab-outline-color: var(--color-base-05);
    --tab-color: var(--color-base-05);
    --tab-color-hover: var(--color-base-10);
}

.theme-light .workspace-tabs.mod-stacked {
    --tab-stacked-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    --tab-outline-color: var(--color-base-10);
    --tab-color: var(--color-base-10);
    --tab-color-hover: var(--color-base-20);
}

.workspace-tabs.mod-stacked {
    --tab-outline-width: 1px;
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header {
    background-color: var(--tab-color);
}

.workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header:hover {
    background-color: var(--tab-color-hover);
}

/* ---------- NAV HEADER ---------- */

/* Dotted bottom border */
.nav-header {
    border-bottom: var(--file-header-border);
}