@forward '../shared/workleaves';

body {
    --titlebar-background: none;
    --titlebar-background-focused: none;
}

.mod-windows.is-hidden-frameless:not(.is-fullscreen) .workspace:not(.is-right-sidedock-open) > .mod-root::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: calc(6px + var(--frame-right-space));
    height: 6px;
    background-color: var(--workleaves-background);
    clip-path: polygon(6px 0, 100% 0, 100% 100%, 0 100%);
    z-index: var(--layer-popover);
}