@forward "../shared/workleaves";

body {
    --titlebar-background: none;
    --titlebar-background-focused: none;
}

.mod-windows.is-hidden-frameless:not(.is-fullscreen, .is-mobile)
    .workspace:not(.is-right-sidedock-open)
    > .mod-root::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: calc(var(--workspace-top-margin) + var(--frame-right-space));
    height: var(--workspace-top-margin);
    background-color: var(--workleaves-background);
    @supports (corner-shape: bevel) {
        corner-shape: bevel square square square;
        border-radius: var(--workspace-top-margin);
    }
    @supports not (corner-shape: bevel) {
        clip-path: polygon(var(--workspace-top-margin) 0, 100% 0, 100% 100%, 0 100%);
    }
    z-index: calc(var(--layer-popover) - 1);
}
