@forward '../shared/workleaves';
@forward '../shared/workspace';

// ----------- App background color ----------- 
body,
.workspace {
    background-color: var(--workspace-background);
}

// ----------- Workspace ----------- 
.workspace.is-right-sidedock-open {
    padding-right: var(--size-2-2);
}

// ----------- Gap between panes ----------- 
body {
    --workspace-gap: 10px;
}
.workspace,
.workspace-split {
    gap: var(--workspace-gap);
}

.mod-left-split > .workspace-leaf-resize-handle {
    transform: translateX(calc(0.5 * var(--workspace-gap) + var(--divider-width-hover) * 0.5));
}
.mod-right-split > .workspace-leaf-resize-handle {
    transform: translateX(calc(-0.5 * var(--workspace-gap) - var(--divider-width-hover) * 0.5));
}
.mod-vertical > div > .workspace-leaf-resize-handle {
    transform: translateX(calc(0.5 * var(--workspace-gap) + var(--divider-width-hover) * 0.5));
}
.mod-horizontal > div > .workspace-leaf-resize-handle {
    transform: translateY(calc(0.5 * var(--workspace-gap) + var(--divider-width-hover) * 0.5));
}
.mod-root .workspace-tabs {
    overflow: visible;
}

// ----------- Mod root ----------- 
.workspace-split.mod-root {
    background: none;
}

.mod-root .workspace-tabs .workspace-leaf,
.mod-root .workspace-tabs .view-header,
.workspace-split.mod-root .view-content {
    background-color: var(--workleaves-background);
}

.mod-fade:not(.mod-at-end):after {
    background: linear-gradient(to right, transparent, var(--workleaves-background))
}

// ----------- Top bar (toggle button + tabs) -----------
.sidebar-toggle-button,
.workspace-tabs.mod-top {
    --tab-container-background: transparent;
}
