@charset "UTF-8";
/* GPLv3 license
FAS - Image background
Author: ElsaTam (Kapirklaa in Discord)
*/
.view-content {
  z-index: 0;
}

.markdown-preview-view.markdown-preview-view .image-embed[alt~=background],
.markdown-preview-view.markdown-preview-view img[alt~=background]:not(.image-embed *) {
  --image-shadow-offset: 0;
  margin: 0px auto;
  position: fixed;
  width: calc(100cqw + 2 * var(--file-margins-inline));
  height: 100cqh;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  mix-blend-mode: var(--fas-note-background-image-blend-mode);
  opacity: var(--fas-note-background-image-opacity);
  filter: blur(var(--fas-note-background-image-blur)) brightness(var(--fas-note-background-image-brightness));
}
.markdown-preview-view.markdown-preview-view img[alt~=background] {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
}

.markdown-source-view.markdown-source-view .image-embed[alt~=edit-hide],
.markdown-source-view.markdown-source-view img[alt~=edit-hide]:not(.image-embed *) {
  --image-shadow-offset: 0;
  font-size: inherit;
  opacity: 0;
  height: calc(1em * var(--line-height-normal));
  padding: unset;
  display: block;
  width: unset;
  position: unset;
}
.markdown-source-view.markdown-source-view .image-embed[alt~=edit-hide] img,
.markdown-source-view.markdown-source-view img[alt~=edit-hide]:not(.image-embed *) img {
  height: 100%;
}
.markdown-source-view.markdown-source-view .image-embed[alt~=edit-icon] {
  --image-shadow-offset: 0;
  font-size: inherit;
}
.markdown-source-view.markdown-source-view .image-embed[alt~=edit-icon] img {
  display: none;
}
.markdown-source-view.markdown-source-view .image-embed[alt~=edit-icon]:hover img {
  position: absolute;
  display: block;
}
.markdown-source-view.markdown-source-view .image-embed[alt~=edit-icon]::after {
  content: "🖼️ background";
  font-size: 12px;
  color: var(--text-muted);
}
.markdown-source-view.markdown-source-view .image-embed[alt~=edit-small],
.markdown-source-view.markdown-source-view img[alt~=edit-small]:not(.image-embed *) {
  --image-shadow-offset: 0;
  max-width: 100px;
}
