/* GPLv3 license
FAS - Embed Inline
Author: ElsaTam (Kapirklaa on Discord)
*/
.markdown-embed[alt~=faded] {
  border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
  border-block-end: none;
}

.markdown-embed[alt~=faded] .embed-title {
  display: none;
}

.markdown-embed[alt~=faded]>.markdown-embed-content>.markdown-preview-view {
  padding: 0;
}