/* GPLv3 license
FAS - Canvas Node Text Color Invert
Author: ElsaTam (Kapirklaa in Discord)
*/
.canvas-node:has(.tag[href="#node-text-color-invert"], .node-text-color-invert):not(.is-editing) .markdown-preview-view {
  color: rgb(var(--mono-rgb-0));
}

.canvas-node:not(.is-editing) :is(.tag[href="#node-text-color-invert"], .node-text-color-invert) {
  display: none;
}
