.canvas-node:has(.tag[href="#node-only-text"]):not(.is-editing) .canvas-node-container {
  box-shadow: none;
  background: none;
}
.canvas-node:has(.tag[href="#node-only-text"]):not(.is-editing):not(:is(.is-dragging, :hover)) .canvas-node-container {
  border: none;
}
.canvas-node:has(.tag[href="#node-only-text"]):not(.is-editing) .canvas-node-content {
  background: none;
}

.canvas-node:not(.is-editing) .tag[href="#node-only-text"] {
  display: none;
}
