/* GPLv3 license
FAS - Embed Wide
Author: ElsaTam (Kapirklaa in Discord)
*/
/* Compatibility with ITS theme/snippets */
.markdown-source-view > div, .markdown-preview-view {
  container: markdown-view/inline-size;
}

body {
  --file-margins-block: var(--size-4-8);
  --file-margins-inline: var(--size-4-8);
  --file-margins: var(--file-margins-block) var(--file-margins-inline);
}

.is-mobile {
  --file-margins-block: var(--size-4-2);
  --file-margins-inline: var(--size-4-6);
}

.markdown-preview-view [alt~=wide]:is(img:not(.image-embed img), .image-embed, .markdown-embed, .file-embed) {
  position: relative;
  --w: calc(0.95 * (100cqw + 2 * var(--file-margins-inline)));
  width: var(--w);
  left: calc(50% - var(--w) * 0.5);
  max-width: unset;
}
