@forward '../../shared/h1-border';
@forward '../../shared/font-typewriter';
@forward '../../shared/cutout-straight';
@forward '../../shared/cutouts';
@forward '../../shared/workleaves';
@use '../../mixins/cutout_border';

.fas-headings-hue.fas-h1-display,
.fas-headings-hue .h1-display,
.fas-h1-display .headings-hue,
.h1-display.headings-hue {
    --h2-color: var(--middle-color);
}
.fas-headings-complement.fas-h1-display,
.fas-headings-complement .h1-display,
.fas-h1-display .headings-complement,
.h1-display.headings-complement {
    --h2-color: var(--middle-color-complement);
}
.fas-headings-accent.fas-h1-display,
.fas-headings-accent .h1-display,
.fas-h1-display .headings-accent,
.h1-display.headings-accent {
    --h2-color: var(--color-accent);
}

:is(.fas-headings-hue, .fas-headings-complement, .fas-headings-accent).fas-h1-display,
:is(.fas-headings-hue, .fas-headings-complement, .fas-headings-accent) .h1-display,
.fas-h1-display :is(.headings-hue, .headings-complement, .headings-accent),
.h1-display:is(.headings-hue, .headings-complement, .headings-accent) {
    --h3-color: color-mix(in srgb, var(--h2-color), var(--text-normal) 20%);
    --h4-color: color-mix(in srgb, var(--h2-color), var(--text-normal) 40%);
    --h5-color: color-mix(in srgb, var(--h2-color), var(--text-normal) 60%);
    --h6-color: color-mix(in srgb, var(--h2-color), var(--text-normal) 80%);
}


.fas-h1-display .markdown-preview-view:not(:is(.newspaper, .movie-script, .minimalist, .h1-stroke, .h1-normal, .sci-fi)),
.markdown-preview-view.h1-display {
    --h1-line-height: 1.2em;
    --h1-size: 3em;
    --h1-font: var(--font-typewriter), var(--font-text);
    --h1-color: var(--workleaves-background);
    --h1-background: var(--color-base-100);

    h1 {
        
        background-color: var(--h1-background);
        text-align: center;
        position: relative;
        padding: var(--cutout-outline-inset);
        clip-path: polygon(
            0 var(--cutout-corner-angle),
            var(--cutout-corner-angle) 0,
            calc(100% - var(--cutout-corner-angle)) 0,
            100% var(--cutout-corner-angle),
            100% calc(100% - var(--cutout-corner-angle)),
            calc(100% - var(--cutout-corner-angle)) 100%,
            var(--cutout-corner-angle) 100%,
            0 calc(100% - var(--cutout-corner-angle)));
        
        @include cutout_border.outline;

        &:is(.is-collapsed > h1)::before {
            background: var(--h1-border-color-collapsed);
        }

        &:is(.is-collapsed > h1)::after {
            content: "";
            position: absolute;
            inset: 0;
            background: var(--h1-border-color-collapsed);
            clip-path: polygon(
                0 0,
                100% 0,
                100% 100%,
                0 100%,
                0 0,
                var(--cutout-outline-inset)  calc(var(--cutout-corner-angle) + 0.5 * var(--cutout-outline-inset) + 2px),
                var(--cutout-outline-inset) calc(100% - var(--cutout-corner-angle) - 0.5 * var(--cutout-outline-inset) - 2px),
                calc(var(--cutout-corner-angle) + 0.5 * var(--cutout-outline-inset) + 2px) calc(100% - var(--cutout-outline-inset)),
                calc(100% - var(--cutout-corner-angle) - 0.5 * var(--cutout-outline-inset) - 2px) calc(100% - var(--cutout-outline-inset)),
                calc(100% - var(--cutout-outline-inset)) calc(100% - var(--cutout-corner-angle) - 0.5 * var(--cutout-outline-inset) - 2px),
                calc(100% - var(--cutout-outline-inset)) calc(var(--cutout-corner-angle) + 0.5 * var(--cutout-outline-inset) + 2px),
                calc(100% - var(--cutout-corner-angle) - 0.5 * var(--cutout-outline-inset) - 2px) var(--cutout-outline-inset),
                calc(var(--cutout-corner-angle) + 0.5 * var(--cutout-outline-inset) + 2px) var(--cutout-outline-inset),
                var(--cutout-outline-inset) calc(var(--cutout-corner-angle) + 0.5 * var(--cutout-outline-inset) + 2px));
        }

        .heading-collapse-indicator {
            margin-inline-start: 0;
        }
    }
}