@forward '../../shared/middle-color';

.fas-headings-hue, .headings-hue { --h1-color: var(--middle-color); }
.fas-headings-complement, .headings-complement { --h1-color: var(--middle-color-complement); }
.fas-headings-accent, .headings-accent { --h1-color: var(--color-accent); }

.fas-headings-hue, .headings-hue,
.fas-headings-complement, .headings-complement,
.fas-headings-accent, .headings-accent {
    --h2-color: color-mix(in srgb, var(--h1-color), var(--text-normal) 10%);
    --h3-color: color-mix(in srgb, var(--h1-color), var(--text-normal) 20%);
    --h4-color: color-mix(in srgb, var(--h1-color), var(--text-normal) 40%);
    --h5-color: color-mix(in srgb, var(--h1-color), var(--text-normal) 60%);
    --h6-color: color-mix(in srgb, var(--h1-color), var(--text-normal) 80%);
}