.markdown-source-view .image-embed,
.markdown-preview-view .image-embed {
    padding-right: var(--image-shadow-offset);
    padding-bottom: var(--image-shadow-offset);
    position: relative;
    font-size: 0;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: var(--image-shadow-offset);
        left: var(--image-shadow-offset);
        right: 0;
        bottom: 0;
        border-radius: inherit;
        background: repeating-linear-gradient(
            45deg,
            var(--background-primary-alt),
            var(--background-primary-alt) var(--image-shadow-stripe-thickness),
            transparent var(--image-shadow-stripe-thickness),
            transparent calc(var(--image-shadow-stripe-thickness) + var(--image-shadow-stripe-gap))
        );
    }
}