@forward '../shared/list-with-float';
@use '../foundations/colors/colors_definitions';


body {
    // custom
    --image-shadow-offset: var(--size-4-2);
    --image-shadow-stripe-thickness: 2px;
    --image-shadow-stripe-gap: 4px;
    --image-shadow-color: var(--background-primary-alt);
}

.image-embed {
    font-size: 0;
}
    
.markdown-rendered .image-embed:is([alt~="right"], [alt~="float-right"]) {
    float: right;
    clear: right;
    margin: var(--fas-float-inline-margin, 12px) 0 var(--fas-float-inline-margin, 12px) var(--fas-float-inline-margin, 12px);
}

.markdown-rendered .image-embed:is([alt~="left"], [alt~="float-left"]) {
    float: left;
    clear: left;
    margin: var(--fas-float-inline-margin, 12px) var(--fas-float-inline-margin, 12px) var(--fas-float-inline-margin, 12px) 0;
}
    
@each $key, $c in map-get(colors_definitions.$extended-colors, "light") {
    .image-embed[alt~="#{$key}"] { --image-shadow-color: rgba(var(--color-#{$key}-rgb), 0.2); }
}

.image-embed[alt~="no-shadow"] {
    --image-shadow-offset: 0;
}

@container not (style(--image-shadow-offset: 0) or style(--image-shadow-offset: 0px)) {
    .image-embed {
        z-index: 1;
        width: fit-content;
    }
    
    .markdown-source-view .image-embed,
    .markdown-rendered .image-embed {
        padding-right: var(--image-shadow-offset);
        padding-bottom: var(--image-shadow-offset);
        display: inline-block;
        height: fit-content;
        width: fit-content;
        position: relative;
        font-size: 0;
    
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: var(--image-shadow-offset);
            left: var(--image-shadow-offset);
            right: 0;
            bottom: 0;
            border-radius: inherit;
            background: repeating-linear-gradient(
                -45deg,
                var(--image-shadow-color),
                var(--image-shadow-color) var(--image-shadow-stripe-thickness),
                transparent var(--image-shadow-stripe-thickness),
                transparent calc(var(--image-shadow-stripe-thickness) + var(--image-shadow-stripe-gap))
            );
        }
    }
}