
@forward '../shared/workleaves';

@container metadata (width > 600px) {
    .metadata-content:not(:has(.drag-ghost-hidden)) {
        display: block;
        column-count: 2;
        column-rule: 1px dashed var(--metadata-border-color);
    }
}

[data-type="markdown"] {
    --metadata-border-width: 1px;
    --metadata-padding: var(--size-4-6) var(--size-4-2) var(--size-4-2) var(--size-4-2);

    .metadata-container {
        outline: 1px solid color-mix(in srgb, var(--metadata-border-color), transparent 50%);
        outline-offset: -5px;
    }

    .metadata-properties-heading .collapse-indicator {
        inset-inline-start: 0;
    }
    
    .metadata-properties-heading {
        --heading-padding-inline: var(--size-4-6);
        position: absolute;
        top: 0;
        transform: translateY(calc(-50% + 0.05em));
        background: linear-gradient(to right,
            transparent,
            var(--workleaves-background) var(--heading-padding-inline),
            var(--workleaves-background) calc(100% - var(--heading-padding-inline)),
            transparent 100%);
        padding-inline: var(--heading-padding-inline);
    }
}



.workspace > .workspace-split:not(.mod-root) [data-type="markdown"] .metadata-container {
    --metadata-padding: 0.5em 0 0 0;
    outline: none;
}

.workspace > .workspace-split:not(.mod-root) [data-type="markdown"] .metadata-properties-heading {
    transform: translateY(-50%);
}