.markdown-preview-view {
    table thead:not(:has(:is(th, td):not(:empty))) {
        display: none;
    }

    table thead th {
        border-bottom-width: calc(var(--table-border-width) + 2px);
    }

    table tbody tr:not(:has(:is(td, th):not(:empty))) {
        height: calc(var(--table-text-size) * var(--table-line-height) + var(--size-2-2) * 2);
    }

    table {
        margin-inline: auto;
    }
}

.cm-html-embed th,
.markdown-rendered th {
    line-height: var(--table-header-line-height);
}

:is(.cm-html-embed, .markdown-rendered) :is(th, td) {
    border-inline-width: 0;
}

.kpr-plain-tables {
    --table-background: rgba(var(--mono-rgb-100), 0.03);
    --table-border-color: transparent;
    --table-column-alt-background: none;
    --table-header-background: rgba(var(--mono-rgb-0), 0.3);
    --table-header-border-width: 1px;
    --table-row-alt-background: var(--background-primary-alt);
    --table-row-alt-background-hover: var(--table-row-alt-background);
    --table-row-background-hover: var(--table-background);
    --table-line-height: 1.5;

    :is(.cm-html-embed, .markdown-rendered) :is(th, td) {
        border-inline-width: var(--table-border-width);
    }

    table thead th {
        border-bottom-width: var(--table-border-width);
    }
}