.markdown-embed[alt~="faded"] {
    border-inline-start: none;
    border-inline-end: none;
    border-block-start: none;
    border-block-end: none;

    .embed-title {
        display: none;
    }

    & > .markdown-embed-content > .markdown-preview-view {
        padding: 0;
    }
}
