.file-embed.mod-empty {
    --pattern-gap: 23px;
    --pattern-gap-2: 14px;
    --pattern-thickness: 1px;
    --pattern-color: rgba(var(--color-red-rgb), 0.08);

    background-image:
        repeating-linear-gradient(-45deg,
            var(--pattern-color),
            var(--pattern-color) var(--pattern-thickness),
            transparent var(--pattern-thickness),
            transparent calc(var(--pattern-thickness) + var(--pattern-gap))),
        repeating-linear-gradient(-45deg,
            var(--pattern-color),
            var(--pattern-color) var(--pattern-thickness),
            transparent var(--pattern-thickness),
            transparent calc(var(--pattern-thickness) + var(--pattern-gap-2))),
        repeating-linear-gradient(45deg,
            var(--pattern-color),
            var(--pattern-color) var(--pattern-thickness),
            transparent var(--pattern-thickness),
            transparent calc(var(--pattern-thickness) + var(--pattern-gap))),
        repeating-linear-gradient(45deg,
            var(--pattern-color),
            var(--pattern-color) var(--pattern-thickness),
            transparent var(--pattern-thickness),
            transparent calc(var(--pattern-thickness) + var(--pattern-gap-2)));
}

.file-embed.mod-empty:hover {
    --pattern-color: rgba(var(--color-red-rgb), 0.04);
}