.canvas-node:has(.tag[href="#node-blur"], .node-blur):not(.is-editing) {
    backdrop-filter: blur(8px);
    
    .canvas-node-container {
        border-radius: 0;
        background: none;
        box-shadow: none;
    }

    &:not(.is-dragging):not(:hover) .canvas-node-container {
        border: 1px solid rgba(var(--canvas-color), 0.1);
    }

    .canvas-node-content {
        background: none;
    }
}

.canvas-node:not(.is-editing) :is(.tag[href="#node-blur"], .node-blur) {
    display: none;
}