body {
    --font-size-node-large: 5em;
}

.canvas-node:has(.tag[href="#node-large"]):not(.is-editing) {
    .markdown-preview-view {
        font-size: var(--font-size-node-large);
    }
}

.canvas-node:not(.is-editing) .tag[href="#node-large"] {
    display: none;
}