.canvas-node:has(.tag[href="#node-only-text"], .node-only-text):not(.is-editing) {
    .canvas-node-container {
        box-shadow: none;
        background: none;
    }
    &:not(.is-dragging, *:hover) .canvas-node-container {
        border: none;
    }
    .canvas-node-content {
        background: none;
    }
}

.canvas-node:not(.is-editing) :is(.tag[href="#node-only-text"], .node-only-text) {
    display: none;
}
