.canvas-node:has(.tag[href="#node-comic"]):not(.is-editing) {
    
    .canvas-node-container {
        box-shadow: none;
        border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    }

    .markdown-preview-view {
        font-family: "VTC Letterer Pro", "Comic Sans", "Arial", sans-serif;
    }
}

.canvas-node:not(.is-editing) .tag[href="#node-comic"] {
    display: none;
}