.canvas-node:has(.tag[href="#node-title-vintage"]):not(.is-editing) {
    
    .canvas-node-container {
        --s: 0.5em;
        border-radius: var(--radius-s);
        border: calc(2 * var(--s)) solid transparent;
        outline: 1px dashed rgba(var(--canvas-color), 0.5);
        outline-offset: calc(-1*var(--s));
        background-image: conic-gradient(from 90deg at 1px 1px, transparent 25%, rgba(var(--canvas-color), 1) 0);
        box-shadow: none;
    }
    .canvas-node-content {
        background: none;
    }
    .markdown-preview-view {
        font-family: "Noir-et-Blanc", Palatino, Baskerville, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(var(--canvas-color));
    }
    .markdown-preview-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    p::first-letter {
        color: color-mix(in srgb, currentColor, var(--text-normal) 50%);
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-thickness: 0.05em;
        text-underline-offset: 0.4em;
    }
}

.canvas-node:not(.is-editing) .tag[href="#node-title-vintage"] {
    display: none;
}
