.canvas-node:has(.tag[href="#node-comic"], .node-comic):not(.is-editing) {
    
    .canvas-node-container {
        box-shadow: none;
        border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    }

    .markdown-preview-view {
        font-family: "VTC Letterer Pro", "Comic Sans", "Arial", sans-serif;
    }
}

.canvas-node:not(.is-editing) :is(.tag[href="#node-comic"], .node-comic) {
    display: none;
}