.fas-skin-diesel-punk {
    --diesel-punk-color: #b9a86f;
}

/* Tabs */
.fas-skin-diesel-punk .mod-root .workspace-tabs:not(.mod-stacked) {
    .workspace-tab-header-inner-title {
        text-align: center;
    }

    .is-active .workspace-tab-header-inner {
        background-image: radial-gradient(circle at 15px calc(100% - 8px),
                var(--diesel-punk-color) 2px,
                transparent 6px),
            radial-gradient(circle at calc(100% - 15px) calc(100% - 8px), var(--diesel-punk-color) 2px, transparent 6px),
            linear-gradient(to bottom,
                var(--workspace-background),
                var(--color-base-00) 3px,
                var(--workspace-background) 10px);

        &:not(:hover) .workspace-tab-header-inner-close-button {
            visibility: hidden;
        }
    }

    .workspace-tab-header-inner-close-button {
        position: absolute;
        right: 6px;
    }
}

/* grainy background */
.fas-skin-diesel-punk {
    --diesel-punk-noise: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' viewBox='0 0 700 700' width='700' height='700' opacity='1'%3E%3Cdefs%3E%3Cfilter id='nnnoise-filter' x='-20%25' y='-20%25' width='140%25' height='140%25' filterUnits='objectBoundingBox' primitiveUnits='userSpaceOnUse' color-interpolation-filters='linearRGB'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.092' numOctaves='4' seed='15' stitchTiles='stitch' x='0%25' y='0%25' width='100%25' height='100%25' result='turbulence'%3E%3C/feTurbulence%3E%3CfeSpecularLighting surfaceScale='10' specularConstant='1.9' specularExponent='20' lighting-color='%239013fe' x='0%25' y='0%25' width='100%25' height='100%25' in='turbulence' result='specularLighting'%3E%3CfeDistantLight azimuth='3' elevation='75'%3E%3C/feDistantLight%3E%3C/feSpecularLighting%3E%3CfeColorMatrix type='saturate' values='0' x='0%25' y='0%25' width='100%25' height='100%25' in='specularLighting' result='colormatrix'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Crect width='700' height='700' fill='transparent'%3E%3C/rect%3E%3Crect width='700' height='700' fill='%239013fe' filter='url(%23nnnoise-filter)'%3E%3C/rect%3E%3C/svg%3E");
}

.fas-skin-diesel-punk .workspace {
    background-image: var(--diesel-punk-noise);
}