/* GPLv3 license
FAS - Headings Color
Author: ElsaTam (Kapirklaa in Discord)
*/
@supports (color: hsl(from white h s l)) {
  .theme-dark {
    --middle-color: color-mix(
        in srgb-linear,
        hsl(from var(--color-base-00) h 100% 55%),
        hsl(from var(--color-base-100) h 100% 55%) 50%
    );
    --middle-color-complement: color-mix(
        in srgb-linear,
        hsl(from var(--color-base-00) calc(h - 90) 100% 55%),
        hsl(from var(--color-base-100) calc(h + 90) 100% 55%) 50%
    );
  }
  .theme-light {
    --middle-color: color-mix(
        in srgb-linear,
        hsl(from var(--color-base-00) h 100% 40%),
        hsl(from var(--color-base-100) h 100% 40%) 50%
    );
    --middle-color-complement: color-mix(
        in srgb-linear,
        hsl(from var(--color-base-00) calc(h - 90) 100% 40%),
        hsl(from var(--color-base-100) calc(h + 90) 100% 40%) 50%
    );
  }
}
@supports not (color: hsl(from white h s l)) {
  .style-settings-container .setting-item[data-id=header-color] .setting-item-info::after {
    content: '"Hue" and "Complementary hue" not supported on your device.';
    color: var(--text-muted);
    font-size: var(--font-ui-smaller);
    padding-top: var(--size-4-1);
    line-height: var(--line-height-tight);
  }
}
body {
  --heading-color: none;
}

.headings-hue {
  --heading-color: hue;
}

.headings-complement {
  --heading-color: complement;
}

.headings-accent {
  --heading-color: accent;
}

.headings-rainbow {
  --heading-color: rainbow;
}

@container style(--heading-color: hue) {
  :is(.markdown-source-view, .markdown-preview-view) > * {
    --header-gradient-base-color: var(--middle-color);
  }
}
@container style(--heading-color: complement) {
  :is(.markdown-source-view, .markdown-preview-view) > * {
    --header-gradient-base-color: var(--middle-color-complement);
  }
}
@container style(--heading-color: accent) {
  :is(.markdown-source-view, .markdown-preview-view) > * {
    --header-gradient-base-color: var(--text-accent);
  }
}
@container style(--heading-color: hue) or style(--heading-color: complement) or style(--heading-color: accent) {
  :is(.markdown-source-view, .markdown-preview-view) > * {
    --h1-color: var(--header-gradient-base-color);
    --h2-color: color-mix(in srgb, var(--header-gradient-base-color), var(--text-normal) 10%);
    --h3-color: color-mix(in srgb, var(--header-gradient-base-color), var(--text-normal) 20%);
    --h4-color: color-mix(in srgb, var(--header-gradient-base-color), var(--text-normal) 40%);
    --h5-color: color-mix(in srgb, var(--header-gradient-base-color), var(--text-normal) 60%);
    --h6-color: color-mix(in srgb, var(--header-gradient-base-color), var(--text-normal) 80%);
  }
}
@container style(--heading-color: rainbow) {
  :is(.markdown-source-view, .markdown-preview-view) > * {
    --h1-color: var(--color-rainbow-1);
    --h2-color: var(--color-rainbow-2);
    --h3-color: var(--color-rainbow-3);
    --h4-color: var(--color-rainbow-4);
    --h5-color: var(--color-rainbow-5);
    --h6-color: var(--color-rainbow-6);
  }
}
