:is(ul, ol):has(> li > :is(.tag[href='#list-reversed'], .list-reversed)) {
    transform: scaleY(-1);

    > li {
        transform: scaleY(-1);
    }

    > li > :is(.tag[href='#list-reversed'], .list-reversed) {
        display: none;
    }
}


:is(ul, ol):has(> li > :is(.tag[href='#list-reversed-all'], .list-reversed-all)) {
    &, ul, ol, li {
        transform: scaleY(-1);
    }

    :is(.tag[href='#list-reversed-all'], .list-reversed-all) {
        display: none;
    }
}