:is(ul, ol):has(> li > .tag[href='#list-reversed']) {
    transform: scaleY(-1);

    > li {
        transform: scaleY(-1);
    }

    > li > .tag[href='#list-reversed'] {
        display: none;
    }
}


:is(ul, ol):has(> li > .tag[href='#list-reversed-all']) {
    &, ul, ol, li {
        transform: scaleY(-1);
    }

    .tag[href='#list-reversed-all'] {
        display: none;
    }
}