@mixin icon-after {
    content: "";
    display: block;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    position: absolute;
    top: -1px;
    inset-inline-start: -1px;
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}

$supported-icon-labels:
    '>' 'forwarded'  'base-50',
    '<' 'scheduling' 'base-50',
    '?' 'question'   'yellow',
    '!' 'important'  'orange',
    '$' 'dollar'     'green',
    'a' 'anchor'     'blue',
    'b' 'blood'      'red',
    'B' 'Bookmark'   'orange',
    'c' 'cons'       'red',
    'd' 'down'       'red',
    'e' 'error'      'red',
    'f' 'fire'       'red',
    'g' 'goal'       'blue',
    'h' 'health'     'green',
    'H' 'Heart'      'pink',
    'i' 'idea'       'yellow',
    'l' 'link'       'accent',
    'L' 'Location'   'red',
    'm' 'mail'       'blue',
    'M' 'Music'      'green',
    'n' 'note'       'blue',
    'p' 'pros'       'green',
    's' 'star'       'yellow',
    't' 'trash'      'red',
    'T' 'Travel'     'cyan',
    'u' 'up'         'green',
    'U' 'User'       'base-50',
    'w' 'win'        'yellow',
    'W' 'Write'      'cyan',
    'z' 'zap'        'yellow';


$supported-doodle-boxes: (
    ' ' 'box'            'checkbox-border-color' 'checkbox-border-color-hover',
    ''  'box'            'checkbox-border-color' 'checkbox-border-color-hover',
    'x' 'box-checked'    'interactive-accent'    'interactive-accent-hover',
    'X' 'box-checked'    'interactive-accent'    'interactive-accent-hover',
    '-' 'box-failed'     'color-red'             'color-red-hover',
    '/' 'box-incomplete' 'interactive-accent'    'interactive-accent-hover'
);

$supported-normal-boxes: (
    '-' 'icon-failed' 'color-red' 'color-red-hover',
    '/' 'icon-incomplete' 'interactive-accent' 'interactive-accent-hover'
);

/* Custom icons */
$sel: ":is(";
@each $label, $icon, $color in $supported-icon-labels {
    @if ($sel != ":is(") { $sel: $sel + ", "; }
    $sel: $sel + "[data-task='#{$label}']";
}
$sel: $sel + ")";
:is(.HyperMD-task-line, .task-list-item)#{$sel} input[type=checkbox] {
    pointer-events: none;

    &, &:checked {
        background: none;
        border: none;
    }

    &::after,
    &:checked::after {
        @include icon-after;
    }
}
@each $label, $icon, $color in $supported-icon-labels {
    :is(.HyperMD-task-line, .task-list-item)[data-task='#{$label}'] {
        --checkbox-color: var(--color-#{$color});

        input[type=checkbox]::after,
        input[type=checkbox]:checked::after {
            background-color: var(--checkbox-color);
            mask-image: var(--icon-#{$icon});
        }
    }
}

/* Standard boxes (non doodle) */
@each $label, $icon, $color, $color-hover in $supported-normal-boxes {
    :is(.HyperMD-task-line, .task-list-item)[data-task='#{$label}'] {
        --checkbox-color: var(--#{$color});
        --checkbox-color-hover: var(--#{$color-hover});

        input[type=checkbox]::after {
            @include icon-after;
            mask-image: var(--#{$icon});
        }
    }
}

/* Doodle icons */
@scope (.fas-doodle-icons:not(.fas-accessibility)) to (:is(.callout[data-callout="autopsy"], .callout[data-callout="screen"], .callout[data-callout="email"])) {
    /* Default checkbox for doodle icons */
    :is(.HyperMD-task-line, .task-list-item) input[type=checkbox] {
        &, &:hover {
            background: none;
            border: none;
        }
        &::after {
            @include icon-after;
            background-color: var(--checkbox-color);
        }
        &:hover::after {
            background-color: var(--checkbox-color-hover);
        }
    }
    @for $i from 1 through 6 {
        :is(.HyperMD-task-line, .task-list-item):nth-child(6n + #{$i}) input[type=checkbox]::after {
            mask-image: var(--box-checked-#{$i});
        }
    }

    /* Standard boxes with doodle effect */
    @each $label, $icon, $color, $color-hover in $supported-doodle-boxes {
        @for $i from 1 through 6 {
            :is(.HyperMD-task-line, .task-list-item)[data-task='#{$label}']:nth-child(6n + #{$i}) {
                --checkbox-color-hover: var(--#{$color-hover});
                --checkbox-color: var(--#{$color});

                input[type=checkbox]::after {
                    mask-image: var(--#{$icon}-#{$i});
                }
            }
        }
    }
}