/* GPLv3 license
FAS - Blockquote Tooltip
Author: ElsaTam (Kapirklaa in Discord)
*/
s.caption-tooltip {
  text-decoration: none;
}

blockquote:has(:is(dialog, .caption-tooltip)) {
  --blockquote-border-thickness: 0;
  padding: 0;
  width: fit-content;
  position: relative;
}

blockquote :is(dialog, .caption-tooltip) {
  position: absolute;
  right: calc(var(--size-4-2) + var(--image-shadow-offset));
  top: var(--size-4-2);
  border: none;
  box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
  background-color: var(--background-modifier-message);
  border-radius: var(--radius-s);
  color: #FAFAFA;
  font-size: var(--font-ui-smaller);
  font-weight: var(--font-medium);
  line-height: var(--line-height-tight);
  max-width: 300px;
  padding: 4px 8px;
  text-align: center;
  z-index: var(--layer-tooltip);
  pointer-events: none;
}

blockquote dialog {
  margin-left: auto;
  margin-right: 0;
}

blockquote .caption-tooltip {
  display: none;
}

blockquote:hover :is(dialog, .caption-tooltip) {
  display: block;
}
